<div class="info-wrapper">
  <span>Total number of employees: <strong>{{ this.employeeData.length }}</strong></span>
  <span>Total clocked in time: <strong>{{ 0 }}</strong></span>
  <span>Total amount paid for regular hours: <strong>{{ 0 }}</strong></span>
  <span>Total amount paid for overtime: <strong>{{ 0 }}</strong></span>
</div>

<div class="table-wrapper">
  <table mat-table [dataSource]="this.employeeData" class="mat-elevation-z8 {{ this.showPopUp ? 'disable-click' : '' }}">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation(); selectRow(row); this.allDataMerged();"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
  
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total clocked in</th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let i of element.shifts">
          {{ this.totalHoursCalc(i.clock_in, i.clock_out) }}
        </span>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="hourlyRate">
      <th mat-header-cell *matHeaderCellDef>Hourly rate</th>
      <td mat-cell *matCellDef="let element">{{ element.hourly_rate }}</td>
    </ng-container>
  
    <ng-container matColumnDef="overtimeHourlyRate">
      <th mat-header-cell *matHeaderCellDef>Overtime hourly rate</th>
      <td mat-cell *matCellDef="let element">
        {{ element.overtime_hourly_rate }}
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selectRow(row)"
    ></tr>
  </table>
  
  <div class="button-wrapper edit">
    <button class="btn edit" (click)="openPopup()">EDIT</button>
  </div>
</div>

<app-popup
  *ngIf="this.showPopUp"
  class="pop-up"
  [data]="this.selectedRow"
></app-popup>
